@import '_fonts.scss';
@import '_vars.scss';

// --- common ---
* {
	box-sizing: border-box;
}

html * {
	@extend %open-sans-r;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	color: white;
	background-color: black;
}

.container {
	max-width: 750px;
	margin: 0 auto;
	height: 200px;
}

button {
	border: none;
	padding: 0;
	cursor: pointer;
}

.btn-base {
	@include hover-line;
	min-height: 48px;
	padding: 0 20px;
	color: white;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	background-color: $color-main;
}
// --- / common ---

// --- password-preview ---
.password-preview {
	padding-top: 50px;
	&__title {
		//@extend %open-sans-r;
		margin: 0;
		font-size: 36px;
		line-height: 49px;
	}
	&__input-outer {
		margin-top: 22px;
		position: relative;
	}
	&__input-outer--active {
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 0px;
			background-color: $color-main;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			transition: all 0.1s ease-out;
		}
		&::before {
			height: 6px;
			background-color: $color-main;
			bottom: -3px;
		}
	}
	&__btn {
		position: absolute;
		width: 32px;
		height: 32px;
		background-repeat: no-repeat;
		background-color: transparent;
		background-size: cover;
		top: calc(50% - 16px);
		opacity: 0.6;
		transition: opacity 0.25s ease-out;
		&:hover {
			opacity: 1;
		}
	}
	&__visibility-btn {
		background-image: url('/img/visibility-off.svg');
		right: 12px;
	}
	&__copy-btn {
		background-image: url('/img/copy.svg');
		right: -44px;
	}
	&__input {
		width: 100%;
		border: 0;
		padding: 12px;
		font-size: 18px;
		line-height: 25px;
		outline-color: $color-main;
	}
	&__strength {
		margin-top: 22px;
	}
	&__strength-title {
		font-size: 14px;
		line-height: 19px;
	}
	&__strength-indicator {
		margin-top: 12px;
		width: 100%;
		height: 8px;
		background-color: white;
		position: relative;
		&::after {
			content: '';
			display: block;
			background-color: $color-main;
			position: absolute;
			width: 50%;
			height: 8px;
		}
	}
}

// --- / password-preview ---

// --- password-generator ---
.password-generator {
	padding-top: 56px;
	&__title {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 12px;
	}
}
.settings {
	&__row {
		display: flex;
		& + & {
			margin-top: 20px;
		}
	}
	&__column {
		flex-basis: 100%;
		& + & {
			margin-left: 16px;
		}
	}
	&__checkboxes {
		display: flex;
		flex-direction: row;
	}
	&__checkbox {
		@include hover-line;
		max-width: 70px;
		flex-basis: 100%;
		text-align: center;
		vertical-align: middle;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		& + & {
			margin-left: 24px;
		}
		&--active {
			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 6px;
				background-color: $color-main;
				position: absolute;
				bottom: -3px;
			}
		}
	}
	&__btn {
		width: 100%;
	}
	&__password-length {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__password-length-title {
		font-size: 14px;
		line-height: 19px;
	}
	&__password-length-range {
		width: 100%;
		padding: 0;
	}
	&__restore-settings-btn {
	}
	&__generate-password-btn {
	}
}
// --- / password-generator ---

// --- password-advices ---
.password-advices {
	&__slider {
	}
	&__title {
	}
}

.swiper-button-next {
}
.swiper-button-prev {
}
.swiper-container {
}
.swiper-slide {
}
.swiper-wrapper {
}

// --- / password-advices---
