html * {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.password-advices__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.btn-base, .settings__option--hoverable {
  position: relative;
}

.btn-base:hover::before, .settings__option--hoverable:hover::before, .password-preview__input-outer--active::before {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background-color: white;
  position: absolute;
  bottom: -3px;
}

.btn-base::before, .settings__option--hoverable::before, .password-preview__input-outer::before {
  content: '';
  display: block;
  width: 100%;
  height: 0px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.12s ease-out;
  transition: all 0.12s ease-out;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  height: 200px;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

input[type='range'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin: 0;
  height: 24px;
  background: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border-radius: 100%;
  border: none;
  width: 24px;
  height: 24px;
  background-color: white;
  margin-top: -8px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

input[type='range']::-webkit-slider-thumb:hover {
  background-color: #ef4043;
}

input[type='range']::-moz-range-thumb {
  border-radius: 100%;
  border: none;
  width: 24px;
  height: 24px;
  background-color: white;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

input[type='range']::-moz-range-thumb:hover {
  background-color: #ef4043;
}

input[type='range']::-ms-thumb {
  border-radius: 100%;
  border: none;
  width: 24px;
  height: 24px;
  background-color: white;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

input[type='range']::-ms-thumb:hover {
  background-color: #ef4043;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-radius: 100px;
  background: #ef4043;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ef4043;
}

input[type='range']::-ms-track {
  width: 100%;
  background-attachment: transparent;
  border-color: transparent;
  cursor: pointer;
  color: transparent;
}

.btn-base {
  min-height: 48px;
  padding: 0 20px;
  color: white;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: #ef4043;
}

.password-preview {
  padding-top: 56px;
}

.password-preview__title {
  margin: 0;
  font-size: 36px;
  line-height: 49px;
}

.password-preview__input-outer {
  margin-top: 22px;
  position: relative;
}

.password-preview__input-outer--active {
  position: relative;
}

.password-preview__input-outer--active::before {
  height: 6px;
  background-color: #ef4043;
  bottom: -3px;
}

.password-preview__btn {
  position: absolute;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  top: calc(50% - 16px);
  opacity: 0.6;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.password-preview__btn:hover {
  opacity: 1;
}

.password-preview__visibility-btn {
  background-image: url("../img/visibility-off.svg"), url("../img/visibility.svg");
  right: 12px;
}

.password-preview__visibility-btn--visible {
  background-image: url("../img/visibility.svg");
}

.password-preview__copy-btn {
  background-image: url("../img/copy.svg");
  right: -44px;
}

.password-preview__input {
  width: 100%;
  border: 0;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  outline-color: #ef4043;
}

.password-preview__strength {
  margin-top: 22px;
}

.password-preview__strength-title {
  font-size: 14px;
  line-height: 19px;
}

.strength-indicator {
  margin-top: 12px;
  width: 100%;
  height: 8px;
  position: relative;
}

.strength-indicator__fill {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #ef4043;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.strength-indicator__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

.password-generator {
  padding-top: 70px;
}

.password-generator__title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 12px;
}

.settings__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings__row + .settings__row {
  margin-top: 20px;
}

.settings__column {
  min-height: 50px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.settings__column + .settings__column {
  margin-left: 16px;
}

.settings__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.settings__option {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  max-width: 70px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.settings__option--selected::before {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background-color: #ef4043;
  position: absolute;
  bottom: -3px;
  -webkit-transition: 0.12s;
  transition: 0.12s;
}

.settings__btn {
  width: 100%;
  height: 100%;
}

.password-length {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.password-length__title {
  font-size: 14px;
  line-height: 19px;
}

.password-length-input-range {
  width: 100%;
  height: 8px;
}

.password-advices {
  padding-top: 70px;
}

.password-advices__title {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.password-advices__slider {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.password-advices__slider-text {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.password-advices__btn {
  width: 48px;
  height: 48px;
  top: calc(50% - 16px);
  cursor: pointer;
  -webkit-mask-image: url("../img/navigate-next.svg");
          mask-image: url("../img/navigate-next.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: white;
  -webkit-transition: background-color 0.12s;
  transition: background-color 0.12s;
}

.password-advices__btn:hover {
  background-color: #ef4043;
}

.password-advices__prev-btn {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.swiper-container {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}
